@import 'swiper/css/bundle';

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Mulish", sans-serif;
}

.prose {
    box-shadow: none !important;
}

.prose p {
    line-height: 1.8;
}

.post-text h1 {
    font-size: 36px;
}

.attachment__caption{
    display: none!important;
}

.post-text h2 {
    font-size: 30px;
}

.post-text h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0 5px 0;
}

figure a img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideUp {
    0% { transform: translateY(30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideRight {
    0% { transform: translateX(-30px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideLeft {
    0% { transform: translateX(30px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.animate-fade-in {
    animation: fadeIn 0.7s ease-in-out forwards;
}

.animate-slide-up {
    animation: slideUp 0.7s ease-in-out forwards;
}

.animate-slide-right {
    animation: slideRight 0.7s ease-in-out forwards;
}

.animate-slide-left {
    animation: slideLeft 0.7s ease-in-out forwards;
}

.mobile-text-outline {
    -webkit-text-stroke: 1px theme('colors.primary.600'); /* Default for mobile */
    color: transparent;
}

.desktop-text-outline {
    -webkit-text-stroke: 0.5px theme('colors.primary.600'); /* Default for desktop */
    color: transparent;
}

